<div>
  <img class='profile-picture' src='../assets/default-user.png' />
  <div class='information'>
    <h3 class='career-objectives'>
      Career Objectives
    </h3>
    <p>
      I am a Software Engineer, graduating from Iowa State University in May 2019. I aspire to become a leading developer in a variety of possible disciplines including Machine Learning, Web Development, and/or Cyber Security.
    </p>
    <h3 class='about-me'>
      About Me
    </h3>
    <p>
      As someone who is heavily involved in coding projects during my free time, I am constantly learning about new technologies and concepts in the programming world. A few areas of interest of mine are: Artificial Intelligence, Cyber Security, and Game Development.
    </p>
  </div>
</div>
